.users {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.users__container {
    display: flex;
    gap: 100px;
}

.users__infomation {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.users__infomation__detail {
    display: flex;
    flex-direction: column;
}