a {
    text-decoration: none;
}

.sidebar {
    background: gray;
    width: 120px;
}

.sidebar__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
    list-style-type: none;
}

.active-link {
    color: gold;
    font-weight: bold;
}

.inactive-link {
    color: black;
}